---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me/accounts?access_token=FAKE&fields=likes,access_token,name,perms,posts.limit(1).fields(created_time)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190}}'
  recorded_at: Tue, 17 Feb 2015 19:08:16 GMT
recorded_with: VCR 2.9.3
