---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FAKE_FACEBOOK_APP_ID&client_secret=FAKE_FACEBOOK_APP_SECRET&fb_exchange_token=FAKE_FACEBOOK_USER_TOKEN&grant_type=fb_exchange_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Facebook-Api-Version:
      - v1.0
    body:
      encoding: UTF-8
      string: access_token=FAKE_USER_TOKEN
  recorded_at: Sun, 12 Apr 2015 17:57:59 GMT
- request:
    method: get
    uri: https://graph.facebook.com/293142237362668/posts?access_token=FAKE_USER_TOKEN&fields=id,type,message,link,created_time,likes.summary(true)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"3153989bfd5001767a6ae619e6fd08fb6e5f0f93"'
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"293142237362668_767846513225569","type":"photo","message":"yoow","link":"https:\/\/www.facebook.com\/wirelab.dev\/photos\/a.403357529674471.103063.293142237362668\/767846479892239\/?type=1","created_time":"2014-02-20T10:59:32+0000","likes":{"data":[],"summary":{"total_count":0}}},{"id":"293142237362668_753968644613356","type":"photo","message":"Dit
        lijkt me wel een lekkere combinatie... \r\nBlauw staat me zo goed.. en Renault
        zit zo lekker ;-)","link":"https:\/\/www.facebook.com\/wirelab.dev\/photos\/a.403357529674471.103063.293142237362668\/753968061280081\/?type=1","created_time":"2014-01-27T14:15:07+0000","likes":{"data":[{"id":"10206540388659019","name":"Nick
        de Vries"}],"paging":{"cursors":{"after":"MTAyMDY1NDAzODg2NTkwMTk=","before":"MTAyMDY1NDAzODg2NTkwMTk="}},"summary":{"total_count":1}}},{"id":"293142237362668_733502863326601","type":"photo","message":"VERDIEN
        \u20ac25 CASH!\r\n\r\nOm samen met jullie de Daghapp tot een succes te maken,
        hebben we een ludieke actie op poten gezet! Eet je vanavond bij je favoriete
        restaurant? Ken je iemand met een gezellig restaurant? Of werk je bij een
        restaurant? Dan kun je \u20ac25 cash verdienen.\r\n\r\nHOE?\r\n1) Download
        de Daghapp voor iPhone [...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.0/293142237362668/posts?__paging_token=enc_AdCHTRKZBXkrH0B0DEeoVZB81lWqbCJMGNYn53WZAFwwPduV2YH8vucuGBr54Caga7RVG06RYcd9tL57YpLK15XXYpvViMF8ZAZB8W4ei6bSUip9xjgZDZD&access_token=FAKE_USER_TOKEN&fields=id,type,message,link,created_time,likes.summary(true)&limit=25&until=1387715092
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"00ce455b3f192c427bd6f0ae609b10abf60ed9ae"'
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"293142237362668_589066901103532","type":"photo","link":"https:\/\/www.facebook.com\/wirelab.dev\/photos\/a.385265474817010.99444.293142237362668\/589066871103535\/?type=1","created_time":"2013-03-13T15:52:21+0000","likes":{"data":[{"id":"293142237362668","name":"Wiredev"}],"paging":{"cursors":{"after":"MjkzMTQyMjM3MzYyNjY4","before":"MjkzMTQyMjM3MzYyNjY4"}},"summary":{"total_count":1}}}],"paging":{"previous":"https:\/\/graph.facebook.com\/v2.0\/293142237362668\/posts?fields=id,type,message,link,created_time,likes.summary\u002528true\u002529&limit=25&__paging_token=enc_AdCZBGlfHaPStSPGWtOi71ZBLkZAQFXNBoiGWCh8iOfCfV1oObHljZAWbrJwiiiA39VzV4eItQpXxCtjy7bljmjtXB6bevq8ebCHt2UZA3xLBMTJlPAZDZD&since=1363189941&access_token=FAKE_USER_TOKEN&__previous=1","next":"https:\/\/graph.facebook.com\/v2.0\/293142237362668\/posts?fields=id,type,message,link,created_time,likes.summary\u002528true\u002529&limit=25&__paging_token=enc_AdCZBGlfHaPStSPGWtOi71ZBLkZAQFXNBoiGWCh8iOfCfV1oObHljZAWbrJwiiiA39VzV4eItQpXxCtjy7bljmjtXB6bevq8ebCHt2UZA3xLBMTJlPAZDZD&access_token=FAKE_USER_TOKEN&until=1363189941"}}'
  recorded_at: Sun, 12 Apr 2015 17:58:00 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.0/293142237362668/posts?__paging_token=enc_AdCZBGlfHaPStSPGWtOi71ZBLkZAQFXNBoiGWCh8iOfCfV1oObHljZAWbrJwiiiA39VzV4eItQpXxCtjy7bljmjtXB6bevq8ebCHt2UZA3xLBMTJlPAZDZD&access_token=FAKE_USER_TOKEN&fields=id,type,message,link,created_time,likes.summary(true)&limit=25&until=1363189941
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"1050253aec7b29caff644806927dabfa81406eee"'
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Sun, 12 Apr 2015 17:58:00 GMT
recorded_with: VCR 2.9.3
