---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=FAKE_FACEBOOK_APP_ID&client_secret=FAKE_FACEBOOK_APP_SECRET&fb_exchange_token=FAKE_FACEBOOK_USER_TOKEN&grant_type=fb_exchange_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Facebook-Api-Version:
      - v1.0
    body:
      encoding: UTF-8
      string: access_token=FAKE_FACEBOOK_USER_TOKEN
  recorded_at: Mon, 13 Apr 2015 16:00:19 GMT
- request:
    method: get
    uri: https://graph.facebook.com/293142237362668/insights/page_fans/lifetime?access_token=FAKE_FACEBOOK_USER_TOKEN&since=2015-01-09&until=2015-04-09
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"458a29d5b55dc64be29f8b76b51c92c7501c130e"'
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"293142237362668\/insights\/page_fans\/lifetime","name":"page_fans","period":"lifetime","values":[{"value":46,"end_time":"2015-01-09T08:00:00+0000"},{"value":46,"end_time":"2015-01-10T08:00:00+0000"},{"value":46,"end_time":"2015-01-11T08:00:00+0000"},{"value":46,"end_time":"2015-01-12T08:00:00+0000"},{"value":46,"end_time":"2015-01-13T08:00:00+0000"},{"value":46,"end_time":"2015-01-14T08:00:00+0000"},{"value":46,"end_time":"2015-01-15T08:00:00+0000"},{"value":46,"end_time":"2015-01-16T08:00:00+0000"},{"value":46,"end_time":"2015-01-17T08:00:00+0000"},{"value":46,"end_time":"2015-01-18T08:00:00+0000"},{"value":46,"[...]
